.category__parentContainer {
    padding: 20px;
    background-color: white;
}
.categoryList__listItem.active {
    
    background: linear-gradient(180deg, #286150 35%, #013727);
    color: white;
  }
.categoryList__listItem {
    width: 85%;
    border: none;
    background-color: white;
    border-bottom: 0.5px solid lightgrey;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    font-weight: 700;
    text-transform: capitalize;
    display: block;
}
.categoryList__listItem:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 0.5px solid lightgrey;

}