.category__parentContainer {
    padding: 20px;
    background-color: white;
}
.categoryList__listItem.active {
    
    background: linear-gradient(180deg, #286150 35%, #013727);
    color: white;
  }
.categoryList__listItem {
    width: 80%;
    border-bottom: 0.5px solid lightgrey;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    font-weight: 700;
    text-transform: capitalize;
}
.categoryList__listItem:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border: 0.5px solid lightgrey;

}