.home {
  /* align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column; */
  font-family: monospace;
  justify-content: center;
  display: grid;
  grid-template-columns: 15% 85%;
  
  background-color: rgb(250, 244, 235);
  height: 100vh;

  & h1 {
    font-size: 30px;
  }

  & h5 {
    font-size: 12px;
    margin: 0;
  }
}
